@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300;400&display=swap');
:root{
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);

--Transparent-white: hsla(0, 0%, 100%, 0.75);  /*paragraphs */
--Very-light-gray: hsl(0, 0%, 95%);  /* (background, headings, buttons) */

--font-BigShoulders:'Big Shoulders Display', cursive;
--font-lexend:'Lexend Deca', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--Very-light-gray);
}


.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* width: 50%; */
    margin: 0 auto;
}


.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, auto));
    grid-template-rows: minmax(100%, 100%);
    /* justify-content: stretch; */
    /* justify-content: center; */
    height: 50%;
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
    /* padding: 3em; */
}

.block{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 15% 40% 30%;
    padding: 3em;
}


.first{
    background-color: var(--Bright-orange);
}

.secound{
    background: var(--Dark-cyan);
}

.third{
    background: var(--Very-dark-cyan);
}

/**********************************************************************  upper sections  */

.logo{
    margin-top: 1em;
}

.sedan{
    content: url(./images/icon-sedans.svg);
}

.suv{
    content: url(./images/icon-suvs.svg);
}

.luxury{
    content: url(./images/icon-luxury.svg);
}

.title{
    font-family: var(--font-BigShoulders);
    text-transform: uppercase;
    color: var(--Transparent-white);
    font-size: 2.5rem;
    margin-top: 1em;
}

/* ******************* middle and lower sections */

.content{
    /* width: 75%; */
    margin-top: 3em;
    font-family: var(--font-lexend);
    color: var(--Transparent-white);
    font-size: 15px;
    /* word-spacing: 10px; */
    line-height: 1.5;
}


button{
    /* width: 60%; */
    /* height: 50%; */
    border-radius: 2em;
    font-family: var(--font-lexend);
    font-size: 15px;
    padding: 1em 2em;
    margin-top:3em;
    font-weight: 700;
    background-color: var(--Transparent-white);
    text-transform: capitalize;
    cursor:pointer;
    border: none;
    transition: all 0.4s ease-in-out;
}


button:hover{
    background-color: transparent ;
    color: var(--Transparent-white);
    outline: 2px solid var(--Transparent-white);
}

.one{
    color: var(--Bright-orange);
}

.two{
    color: var(--Dark-cyan);
}

.three{
    color: var(--Very-dark-cyan);
}




.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }